// 基本設定
$total-columns  : 6;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

// add media
$pad-columns  : 8;
$pad-break    : 500px;
$pad: $pad-break $pad-columns;
$desktop-columns  : 12;
$desktop-break    : 860px;
$desktop: $desktop-break $desktop-columns;


// debug
// @import "layout-debug";

html, body {
  height: 100%;
}

#{$page-container}, .header-inner {
  @include container();
}


@include at-breakpoint($pad) {
  #{$page-container}, .header-inner {
    @include container();
    width: 90%;
  }
}

@include at-breakpoint($desktop) {
  #{$page-container}, .header-inner {
    @include container();
    width: 80%;
  }
}

