// vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

// compass
$legacy-support-for-ie: false;
$grid-background-baseline-height: $base-line-height;

// class variable
$page-container: ".container";

// import all things
@import "compass";
@import "susy";

@import "normalize";
@include establish-baseline;

// starter variables
@import "starter/variables";

// starter partials
@import "starter/layout";
@import "starter/typography";

@import "starter/ng-page-change";
@import "starter/main-nav";
@import "starter/header";
@import "starter/footer";
@import "starter/off-canvas";
@import "starter/intro";
@import "starter/block";
@import "starter/set-grid";
@import "starter/items";
@import "starter/list";
@import "starter/tab";
@import "starter/action-bar";
