// vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

// compass
$legacy-support-for-ie: false;
$grid-background-baseline-height: $base-line-height;

// class variable
$page-container: ".container";

// import all things
@import "compass";
@import "susy";

@import "normalize";
@include establish-baseline;

@import "variables";
@import "typography";
@import "layout";
@import "partials";
@import "pages";


// append-around
.header .main-nav {
  display: none;
}

@include at-breakpoint($pad) {
  .outside .main-nav {
    display: none;
  }
  .header .main-nav {
    display: block;
  }
}
