
<div class='highlight'><pre><code class='html'><span class='cp'>&lt;!DOCTYPE html&gt;</span>
<span class='nt'>&lt;html&gt;</span>
<span class='nt'>&lt;head&gt;</span>
  <span class='nt'>&lt;script&gt;</span>
    <span class='kd'>var</span> <span class='nx'>force_add_url_to_readinglist</span> <span class='o'>=</span> <span class='kd'>function</span> <span class='p'>(</span><span class='nx'>target_url</span><span class='p'>)</span> <span class='p'>{</span>
      <span class='k'>try</span> <span class='p'>{</span>
        <span class='kd'>var</span> <span class='nx'>fake_element</span> <span class='o'>=</span> <span class='nb'>document</span><span class='p'>.</span><span class='nx'>createElement</span><span class='p'>(</span><span class='s1'>&#39;a&#39;</span><span class='p'>);</span>
        <span class='nx'>fake_element</span><span class='p'>.</span><span class='nx'>setAttribute</span><span class='p'>(</span><span class='s1'>&#39;href&#39;</span><span class='p'>,</span> <span class='nx'>target_url</span><span class='p'>);</span>
        <span class='nx'>fake_element</span><span class='p'>.</span><span class='nx'>setAttribute</span><span class='p'>(</span><span class='s1'>&#39;style&#39;</span><span class='p'>,</span> <span class='s1'>&#39;display:none;&#39;</span><span class='p'>);</span>

        <span class='c1'>// https://developer.mozilla.org/en-US/docs/Web/API/event.initMouseEvent</span>
        <span class='kd'>var</span> <span class='nx'>fake_event</span> <span class='o'>=</span> <span class='nb'>document</span><span class='p'>.</span><span class='nx'>createEvent</span><span class='p'>(</span><span class='s1'>&#39;MouseEvents&#39;</span><span class='p'>);</span>
        <span class='nx'>fake_event</span><span class='p'>.</span><span class='nx'>initMouseEvent</span><span class='p'>(</span><span class='s1'>&#39;click&#39;</span><span class='p'>,</span> <span class='kc'>false</span><span class='p'>,</span> <span class='kc'>false</span><span class='p'>,</span> <span class='nb'>window</span><span class='p'>,</span> <span class='mi'>0</span><span class='p'>,</span> <span class='mi'>0</span><span class='p'>,</span> <span class='mi'>0</span><span class='p'>,</span> <span class='mi'>0</span><span class='p'>,</span> <span class='mi'>0</span><span class='p'>,</span> <span class='kc'>false</span><span class='p'>,</span> <span class='kc'>false</span><span class='p'>,</span> <span class='kc'>true</span><span class='p'>,</span> <span class='kc'>false</span><span class='p'>,</span> <span class='mi'>0</span><span class='p'>,</span> <span class='kc'>null</span><span class='p'>);</span>
        <span class='nx'>fake_element</span><span class='p'>.</span><span class='nx'>dispatchEvent</span><span class='p'>(</span><span class='nx'>fake_event</span><span class='p'>);</span>

      <span class='p'>}</span> <span class='k'>catch</span> <span class='p'>(</span> <span class='nx'>error</span> <span class='p'>)</span> <span class='p'>{</span>
        <span class='c1'>// nothing.</span>
      <span class='p'>}</span>
    <span class='p'>};</span>

    <span class='kd'>var</span> <span class='nx'>url</span> <span class='o'>=</span> <span class='s1'>&#39;http://google.com/?&#39;</span> <span class='o'>+</span> <span class='nb'>Math</span><span class='p'>.</span><span class='nx'>random</span><span class='p'>().</span><span class='nx'>toString</span><span class='p'>().</span><span class='nx'>substr</span><span class='p'>(</span><span class='mi'>1</span><span class='p'>);</span>
    <span class='nx'>force_add_url_to_readinglist</span><span class='p'>(</span><span class='nx'>url</span><span class='p'>);</span>
  <span class='nt'>&lt;/script&gt;</span>
<span class='nt'>&lt;/head&gt;</span>

<span class='nt'>&lt;body&gt;</span>

  <span class='nt'>&lt;h1&gt;</span>Test: FORCE_ADD_URL_TO_READINGLIST<span class='nt'>&lt;/h1&gt;</span>

<span class='nt'>&lt;/body&gt;</span>
<span class='nt'>&lt;/html&gt;</span>
</code></pre></div>
