= javascript_include_tag \
  "/vender/modernizr.js", \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
  "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js", \
  # "/vender/appendAround.js", \
  "off-canvas", \
  "all"
