.services {
  background: #f0f2f0;
  .items.title-with-image {
    .item-image {
      width: 48px;
      height: 48px;
    }
    .item-title {
      $item-image-height: 24px;
      font-size: 18px;
      line-height: $item-image-height;
      @include trailer(.5);
      float: left;
    }
  }

  @include at-breakpoint($desktop) {
    .items.title-with-image {
      .item-title {
        font-size: 20px;
      }
    }
  }

}
