@mixin set-block-grid ($left-grid: $total_columns / 2, $right-grid: $total_columns / 2, $total-grid: $left-grid + $right-grid) {

  $left-columns: ($left-grid /  $total-grid) * $total_columns;
  $right-columns: ($right-grid /  $total-grid) * $total_columns;

  &.content-#{$left-grid}-image-#{$right-grid} {

    .block-content {
      @include span-columns($left-columns, $total_columns);
    }
    .block-image {
      @include span-columns($right-columns omega, $total_columns);
    }
  }

  &.image-#{$left-grid}-content-#{$right-grid} {
    .block-content {
      @include span-columns($right-columns omega, $total_columns);
    }
    .block-image {
      @include span-columns($left-columns, $total_columns);
    }
  }

}

.block {
  @include pie-clearfix;
  padding: rhythm(2) 0 0;

  &:nth-child(2n+1) {
    background-color: #f9f9f7;
  }

  .block-content {
    @include trailer(1);
  }

  .block-image {
    @include trailer(2);
    img {
      margin: 0 auto;
      display: block;
    }
  }

  // 特殊排版區塊
  &.center {
    .intro {
      text-align: center;
      margin: 0 auto;
      max-width: 260px;
    }
  }


  @include at-breakpoint($pad) {
    padding: rhythm(3) 0 rhythm(1);
    .block-content {
      @include trailer(2);
    }

    &.center {
      .intro {
        max-width: 440px;
      }
    }

    // 設定 block-content 與 block-image 的 layout
    @include set-block-grid(1, 1);
    @include set-block-grid(1, 2);
    @include set-block-grid(2, 1);

  } // end pad

  @include at-breakpoint($desktop) {
    padding: rhythm(4) 0 rhythm(2);
    &.center {
      .intro {
        max-width: 560px;
      }
    }

  } // end desktop

}


