.header {
  position: relative;
  background-color: white;

  .logo {
    @include adjust-font-size-to(22px, 2);
    font-weight: bold;
    text-align: center;
    a {
      color: black;
      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }

  .menu-btn {
    height: 48px;
    width: 48px;
    background-color: #aaa;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    @include adjust-font-size-to(14px, 1);
  }




  @include at-breakpoint($pad) {
    padding: rhythm(.25) 0;

    .logo {
      float: left;
    }

    .main-nav {
      float: right;
      padding: 12px 0 0 0;
    }


    .menu-btn {
      display: none;
    }

  }

  @include at-breakpoint($desktop) {
    padding: rhythm(1) 0;
    .logo {
      padding: 0;
      @include adjust-font-size-to(28px);
    }
  }



}

