.header {
  position: relative;
  background-color: white;

  .logo {
    @include adjust-font-size-to(22px, 2);
    font-weight: bold;
    text-align: center;
    a {
      display: block;
      margin: 0 auto;
      color: black;
      @include replace-text-with-dimensions("logo-small.png");
      background-image: none, image-url("logo-small.svg");
      @include at-breakpoint($desktop) {
        margin: auto;
        @include replace-text-with-dimensions("logo.png");
        background-image: none, image-url("logo.svg");
      }
      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }

  .menu-btn {
    background-color: #aaa;
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    padding: 0;
    text-align: center;
    border: none;
    outline: none;
    @include adjust-font-size-to(14px, 2);
  }




  @include at-breakpoint($pad) {
    padding: rhythm(.25) 0;

    .logo {
      float: left;
    }

    .main-nav {
      float: right;
      padding: 12px 0 0 0;
    }


    .menu-btn {
      display: none;
    }

  }

  @include at-breakpoint($desktop) {
    padding: rhythm(1) 0;
    .logo {
      padding: 0;
      @include adjust-font-size-to(28px);
    }
  }



}

