%avenir {
  font-family: "AvenirNext-DemiBoldItalic", "Avenir-HeavyOblique", "Arial", "STHeitiTC-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

%post-avenir {
  font-family: "AvenirNext-DemiBold", "Avenir-Heavy", "Arial", "STHeitiTC-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

%post-avenir-bold {
  font-family: "AvenirNext-Bold", "Avenir-Black", "Arial", "STHeitiTC-Light", sans-serif;
  font-weight: bold;
  font-style: normal;
}

%post-avenir-italic {
  font-family: "AvenirNext-BoldItalic", "Avenir-BlackOblique", "Arial", "STHeitiTC-Light", sans-serif;
  font-weight: normal;
  font-style: italic;
}

%subpixel {
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  @extend %avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $global-color;
}

// for blog post
.post {
  @extend %post-avenir;
  #{headings()}, b, strong { @extend %post-avenir-bold; }
  i, cite   { @extend %post-avenir-italic; }
}

// heading
#{headings()} {
  @include reset-box-model;
  font-weight: normal;
}
h1 {
  @include adjust-font-size-to($font-size-xxl);
}
h2 {
  @include adjust-font-size-to($font-size-xl);
}
h3 {
  @include adjust-font-size-to($font-size-l);
}
h4 {
  @include adjust-font-size-to($font-size-m);
}
h5 {
  @include adjust-font-size-to($font-size-s);
}
h6 {
  @include adjust-font-size-to($font-size-xs);
}

p {
  @include leader(0);
  @include trailer(1);
  @include adjust-font-size-to($base-font-size);
}

// 引用他處文獻
blockquote {
  @include reset-box-model;
  @include leader(1);
  @include trailer(1);
  border-left: 3px solid $global-divider;
  padding-left: rhythm(1);
  @include adjust-font-size-to($base-font-size);
  cite {
    display: block;
    color: $global-muted-color;
    &:before {
      content: '\2014 \00A0';
    }
  }
}


// code 示範區
pre {
  code {
    font-family: "Anonymous Pro", "Inconsolata", "Consolas Regular Font", "Monaco", "Courier New" ,MonoSpace;
    display: block;
    @include leader(1);
    @include trailer(1);
    padding: rhythm(.75);
    color: #333;
    font-size:  $base-font-size * 0.75;
    line-height: 1.6;
    overflow: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    $background-color: $color-lighter-gray;
    $shadow-color: #999;
    $cover-size: 80px;
    $cover-position: 12.5%;
    $shadow-size: $cover-size * ($cover-position/100%);
    $shadow-weight: .3;
    background-image:
      /* Shadow covers */
      linear-gradient(to right, $background-color $cover-position, rgba($background-color, 0) ),
      linear-gradient(to right, rgba($background-color, 0),  $background-color ( 100% - $cover-position ) ),
      /* Shadows */
      radial-gradient(0 50%, farthest-side, rgba($shadow-color, $shadow-weight), rgba($shadow-color, 0) ),
      radial-gradient(100% 50%,farthest-side, rgba($shadow-color, $shadow-weight), rgba($shadow-color, 0) );
    background-image:
      /* Shadow covers */
      linear-gradient(to right, $background-color $cover-position, rgba($background-color, 0) ),
      linear-gradient(to right, rgba($background-color, 0),  $background-color ( 100% - $cover-position ) ),
      /* Shadows */
      radial-gradient(farthest-side at 0 50%,  rgba($shadow-color, $shadow-weight), rgba( $shadow-color, 0) ),
      radial-gradient(farthest-side at 100% 50%,  rgba($shadow-color, $shadow-weight), rgba( $shadow-color, 0) );
    background-repeat: no-repeat;
    background-color: $background-color;
    background-size: $cover-size 100%, $cover-size 100%, $shadow-size 110%, $shadow-size 110%;
    background-attachment: local, local, scroll, scroll;
    background-position: left center, right center, left center, right center;
  }
}


// list
ol, ul {
  @include leader(1);
  @include trailer(1);
  ol, ul {
    margin: 0;
  }
}

dl {
  @include leader(1);
  @include trailer(1);
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0;

  }
}


// inline style
a {
  @include link-colors($global-link-color, $global-link-hover-color);
  @include hover-link;
  img {
    border: none;
  }
}

.url {
  @include word-break(break-all);
}

img {
  max-width: 100%;
  @include trailer(1);
}

// divider
hr, .divider {
  @include leader(1);
  @include trailer(1);
  border-top: 1px solid $global-divider;
}

