.hero {
  border-top: 1px solid #eee;
  padding: rhythm(1) 0 0;
  .intro {
    margin-bottom: 0;
    text-align: center;
    h2 {
      font-weight: bold;
      color: black;
      margin-bottom: .5em;
    }
    p {
      color: darken($color-lighter-gray, 30%);
      margin: 0;
    }
  }
  .summary {
    margin-left: auto;
    margin-right: auto;
    @include adjust-font-size-to(13px);
  }
  @include at-breakpoint($pad) {
    padding: rhythm(3) 0 rhythm(1);
    .intro {
      p { font-size: 18px; }
    }
    .summary {
      text-align: center;
      max-width: 30em;
      @include adjust-font-size-to(15px);
    }
  }
  @include at-breakpoint($desktop) {
    padding: rhythm(2) 0 rhythm(2);
    .intro {
      text-align: center;
      h2 {
        @include adjust-font-size-to(40px);
        margin: 0;
      }
      p {
        @include adjust-font-size-to(24px);
      }
    }
    .summary {
      @include adjust-font-size-to(16px, 1.25);
    }
  }
}





.services {
  background: #f0f2f0;
  .items.title-with-image {
    .item-image {

    }
    .item-title {
      $item-image-height: 24px;
      font-size: 18px;
      line-height: $item-image-height;
      @include trailer(.5);
      float: left;
    }
  }

  @include at-breakpoint($desktop) {
    .items.title-with-image {
      .item-title {
        font-size: 20px;
      }
    }
  }

}



.contact-us {
  background-color: $color-green;
  .action-bar {
    @include at-breakpoint($pad) {
      width: 90%;
      margin: 0 auto;
    }
    @include at-breakpoint($desktop) {
      width: 70%;
    }
  }
}
