.article {

  h3, h4 {
    color: $color-darken-black;
    font-weight: bold;

  }
  h3 {
    @include leader(1);
    border-top: 1px solid $global-divider;
    @include padding-leader(1);
    @include trailer(1);
  }
  h4 {

  }

  h4 + ol {
    @include leader(0);
  }
  h4 + ul {
    @include leader(0);
  }

  ul, ol {
    padding-left: 24px;
  }

  p {
    font-size: 14px;
    line-height: 1.5em;
  }

  img {
    margin: 0 auto rhythm(1);
    display: block;
  }

  .img-description {
    text-align: center;
    @include adjust-font-size-to(14px);
  }

  .lead {
    margin-top: -24px;
    border-top: none;
    @include padding-leader(1);
  }


  .special-list-group {
    @include pie-clearfix;
    background-color: $color-lighten-green;
    padding: rhythm(1) 0 0;
    @include trailer(1);
  }

  .special-list {

    padding: 0 rhythm(.5);
    ul {
      @include reset-box-model;
      list-style: none;
      margin: rhythm(.25) 0 rhythm(1);
    }
    li {
      @include adjust-font-size-to(14px, 4/5);
      @include trailer(.25);
    }
    .label {
      font-weight: bold;
      color: $color-darken-black;
    }
    .content {
      color: lighten($global-color, 15%);
    }

  }

  .link-group {
    @include trailer(1);
    a {
      display: inline-block;
      @include unstyled-link;
      cursor: pointer;
      @include link-colors($color-green, $global-muted-color);
    }
  }

  .lead-link {
    @include adjust-font-size-to(14px);
    &:after {
      content: '»';
      color: $global-muted-color;
      margin-left: .25em;
    }
    &:hover {
      text-decoration: none;
    }
  }



  @include at-breakpoint($pad) {

    p {
      @include adjust-font-size-to(16px);
    }

    & .lead {
      p {
        @include adjust-font-size-to(18px);
      }
    }

    .special-list {
      width: 45%;
      padding: 0 2.5%;
      float: left;
    }

  }

}
