.block {
  @include pie-clearfix;
  padding: rhythm(2) 0;

  & + & {
    border-top: 1px solid $global-divider;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .block-image {
    text-align: center;
    img {
      width: 100%;
    }
  }

  // 特殊排版區塊
  &.center-title-block {
    .intro {
      text-align: center;
      margin: 0 auto;
      max-width: 260px;
    }
  }

  &.left-content-right-image {
    .block-content {

    }
    .block-image {

    }
  }

  &.right-content-left-image {
    .block-content {

    }
    .block-image {

    }
  }



  @include at-breakpoint($pad) {
    padding: rhythm(5) 0;

    &.center-title-block {
      .intro {
        text-align: center;
        margin: 0 auto;
        max-width: 440px;
      }
    }

    &.left-content-right-image {
      .block-content {
        @include span-columns($total_columns / 2, $total_columns);
      }
      .block-image {
        @include span-columns($total_columns / 2 omega, $total_columns);
      }
    }

    &.right-content-left-image {
      .block-content {
        @include span-columns($total_columns / 2 omega, $total_columns);
      }
      .block-image {
        @include span-columns($total_columns / 2, $total_columns);
      }
    }

  } // end pad

  @include at-breakpoint($desktop) {
    &.center-title-block {
      .intro {
        text-align: center;
        margin: 0 auto;
        max-width: 560px;
      }
    }

  } // end desktop

}
