.feature-block {

  display: block;
  padding: rhythm(7) 0 rhythm(1);
  @include pie-clearfix;
  margin: 0 auto;
  // .feature-block:nth-child(2n+1) {
  //   background-color: $color-lighten-gray;
  // }

  & + & {
    border-top: 1px solid $global-divider;
  }
  .feature-block-content {
    display: block;
    text-align: center;
    margin: 0 auto;
    // @include padding-leader(3);
    // @include background( transparent linear-gradient( rgba(white,0), rgba(white,.95) 70px ) );
  }
  .feature-block-title {
    @include adjust-font-size-to(20px, 1);
    @include trailer(.25);
    color: $color-darken-black;
  }
  .feature-block-sub-title {
    @include adjust-font-size-to(16px, 1);
    @include trailer(1.5);
    color: $color-gray;
  }
  .feature-block-text {
    @include adjust-font-size-to(15px);
    color: $global-color;
    @include trailer(.25);
  }
  .read-more {
    @include adjust-font-size-to(14px);
    @include trailer(1);
    display: block;
    font-family: "AvenirNext-Regular", "Helvetica", "Arial", sans-serif;
    color: darken($global-link-color, 10%);
  }
  .feature-block-image {
    @include unstyled-link;
    display: block;
    text-align: center;
    margin: 0 auto;
    img {
      margin: 0 auto;
      display: block;
    }
  }

  &:hover {
    text-decoration: none;
    .read-more {
      color: $global-link-hover-color;
    }
  }

  @include at-breakpoint($pad) {
    .feature-block-content {
      width: columns(5, $total_columns)
    }
    .feature-block-title {
      @include adjust-font-size-to(24px, 1);
      @include trailer(.5);
    }
    .feature-block-sub-title {
      @include adjust-font-size-to(20px, 1);
      @include trailer(.5);
    }
    .feature-block-text {
      @include trailer(.5);
      // @include adjust-font-size-to(16px, 1);
      @include adjust-font-size-to(15px, 1);
    }
    .read-more {
      @include adjust-font-size-to(16px);
    }
    .feature-block-image {
      max-width: none;
    }
  }

  @include at-breakpoint($desktop) {
    $padding-space: 4;
    padding: rhythm($padding-space) 0 rhythm($padding-space - 1);
    .feature-block-content {
      @include padding-leader(0);
      width: columns(8, $total_columns)
    }
    .feature-block-title {
      // @include adjust-font-size-to(24px, 1);
    }
    .feature-block-sub-title {
      // @include adjust-font-size-to(20px, 1);
    }
    .feature-block-text {
      // @include adjust-font-size-to(13px, 5/6);
    }
  }

}
