.gallery {
  @include pie-clearfix;
  @include trailer(1);

  .gallery-item {
    display: block;
    padding: rhythm(.25) rhythm(.25) 0;
    background-color: #eee;
    margin: rhythm(0) auto rhythm(1);
    @include box-sizing(border-box);
    max-width: 360px;
    color: $color-darken-black;
    &:hover {
      text-decoration: none;
    }
  }

  .gallery-item-image {
    img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }

  .gallery-item-title {
    padding: rhythm(.25) 0 rhythm(.25);
    @include adjust-font-size-to(16px);
    text-align: center;
    font-weight: bold;
  }

  @include at-breakpoint($pad) {
    .gallery-item {
      max-width: none;
      @include span-columns(3);
      @include nth-omega(2n);
      &:nth-child(2n+1) {
        clear: both;
      }
    }

  }


  @include at-breakpoint($desktop) {
    .gallery-item {
      @include span-columns(4);
      @include remove-nth-omega(2n);
      &:nth-child(2n+1) {
        clear: none;
      }
      @include nth-omega(3n);
      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }


}
