.header {
  padding: rhythm(1);
}
.logo {
  @include adjust-font-size-to(22px, 1);
  font-weight: bold;
  text-align: center;
  @include at-breakpoint($pad) {
    @include adjust-font-size-to(32px);
  }
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: #333;
    }
  }
}

.menu-btn {
  position: absolute;
  left: $grid-padding;
  background-color: transparent;
  border: none;
  outline: none;
  @include adjust-font-size-to(14px, 1);
  @include at-breakpoint($pad) {
    display: none;
  }
}
