.hero {
  background-color: #939b84;
  padding: rhythm(2) 0 0;
  .intro {
    text-align: center;
    h2 {
      font-weight: bold;
      color: white;
      @include trailer(.5);
    }
    p {
      color: #ddd;
      @include trailer(0);
    }
  }

  @include at-breakpoint($pad) {
    padding: rhythm(3) 0 rhythm(1);
    .intro {
      p {
        font-size: 18px;
      }
    }

  }

  @include at-breakpoint($desktop) {
    padding: rhythm(4) 0 rhythm(2);
    .intro {
      text-align: center;
      h2 {
        @include trailer(1);
        font-size: 40px;
      }
      p {
        font-size: 24px;
      }
    }

  }

}
