.wrapper {
	// @include transform-style(preserve-3d); //fire-fox bug
}

.header {
	.main-nav {
		display: block;
		float: right;
    margin-top: 12px;
		padding: 0;
		li {
			display: none;
			&.menu-button {
				position: relative;
				display: inline-block;
				letter-spacing: -7px;
				background-color: transparent;
        .open-menu-btn {
          display: block;
          @include replace-text-with-svg("open");
          opacity: 1;
          @include transition(opacity .3s);
        }
			}
		}
	}
	@include at-breakpoint($pad) {
		.main-nav {
			margin: 0;
			padding-top: rhythm(.6);
		  li {
				display: inline-block;
			}
		}
	}
  @include at-breakpoint($desktop) {
    .main-nav {
      padding-top: rhythm(5/6);
    }
  }
}

// basic
.off-canvas {
	.outside-inner {
		width: 100%;
		margin: 0 auto;
	}
	.outside {
		width: 100%;
    @include user-select(none);
		@include background-image(
      linear-gradient(
        rgba(white, .8) 10%,
        rgba(white, 0) 66%,
        rgba(white, 0) 100%
      )
    );
		@include background-size(100% 300%);
		background-position: 0 200%;
    background-repeat: no-repeat;
		@include transition( background-position .5s);
	}
	.page {
		@include transform-origin(center, 150%);
	}
	.off-canvas-mask {
		background-color: rgba(black,0);
		@include transition( background-color .5s);
	}
}

// layout
.off-canvas.model {
  .open-menu-btn {
    opacity: 0 !important;
    @include transition(opacity 0);
  }
	.wrapper {
    @include perspective(1500px);
		height: 100%;
	}
	.page {
		height: 100%;
    overflow: hidden;
	}
	.off-canvas-mask {
		height: 100%;
	}
  .outside li {
    @include translateX(0px);
  }
  // hack ==> 解決開啓 / 關閉 menu 時，affix 跳動問題。
  .affix, .affix-bottom {
    position: static !important;
  }
}

// animate
.off-canvas.open-menu {
	.outside {
		z-index: 1000;
    background-position: 0 0;
    li {
      opacity: 1;
      @include translateX(0px);
      @include transition(transform .5s, opacity .5s);
      @for $i from 1 through 5 {
        $delay-time: $i / 10 * 1.7 + .2;
        &:nth-child(#{$i}n) { @include transition-delay("#{$delay-time}s"); }
        & li:nth-child(#{$i}n) { @include transition-delay("#{$delay-time + .3}s"); }
      }
    }
	}
	.page {
		// @include translateZ(-300px);
		// @include rotateX(45deg);
		@include filter(blur(1px));
    // @include transform( translate3d(0, 0, 0) );
    @include transform( rotateX(50deg) translate3d(0, 20px, 20px) );


	}
	.off-canvas-mask {
		// background-color: rgba($color-lighter-gray,.7);
	}


}
