.quick-nav {
  position: relative;


  .quick-nav-title {
    display: block;
    @include adjust-font-size-to(14px);
    background-color: #e3e3e3;
    padding: rhythm(.125) rhythm(.5);
    position: relative;
    color: $global-color;
    &:hover {
      color: $global-color;
      text-decoration: none;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: rhythm(.5);
      margin-top: - 3px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: $global-color transparent transparent transparent;
    }
  }

  .quick-nav-list {
    display: none;
    @include reset-box-model;
    list-style: none;
    @include trailer(0);
    padding: rhythm(.25) 0;
    background-color: #f6f6f6;
    @include adjust-font-size-to(14px, 3/4);

    li {
      padding: rhythm(.25) rhythm(.5);
    }
    a {
      @include unstyled-link;
      @include link-colors($global-color, lighten($global-color,20%) );
    }
    &.open {
      display: block;
    }
  }

  br {
    display: none;
  }

  @include at-breakpoint($desktop) {

    @include padding-trailer(2);

    .quick-nav-title {
      @include adjust-font-size-to(18px);
      font-weight: bold;
      padding: 0;
      @include trailer(.5);
      background-color: transparent;
      &:before {
        display: none;
      }
    }

    .quick-nav-list {
      display: block;
      background-color: transparent;
      max-height: 290px;
      overflow: auto;
      li {
        padding: rhythm(0);
      }
      li + li {
        @include padding-leader(.5);
      }
      .active {
        a {
          color: $color-green;
        }
      }

    }

    br {
      display: block;
    }

  }





}
