.services-nav {
  @include pie-clearfix;
  background-color: #eee;
  text-align: center;
  overflow: auto;
  margin: 0 auto; // fixed ie9 overflow: auto; hover 會增加高度 bug
  @include nowrap;

  // ios overflow bug
  @media (max-width: 567px) {
    -webkit-overflow-scrolling: touch;
  }
  .services-nav-inner {
    margin: 0 auto;
  }

  .services-nav-item {
    padding: rhythm(.5) 0 rhythm(.75);
    position: relative;
    display: inline-block;
    width: 40%;
    max-width: 144px;
    color: #666;
    @extend %subpixel;
    @include box-sizing(border-box);
    @include transition( background-color .5s);
    &:hover {
      text-decoration: none;
      background-color: rgba(white,.5);
      .services-nav-item-icon {
        opacity: 1;
      }
    }
    &.active {
      cursor: default;
      background-color: #ddd;
      @include background( #ddd, linear-gradient( #eee 80%, #ddd 100% ) );
      @include box-shadow( inset 0 0 10px rgba(black,.05) );
      .services-nav-item-title {
        color: $color-green-dark;
      }
      .services-nav-item-icon {
        opacity: 1;
      }
    }
    &.active:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -6px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color:  transparent transparent white transparent;
    }
  }

  .services-nav-item + .services-nav-item {
    // border-left: 1px solid lighten($logo-black, 5%);

  }


  .services-nav-item-icon {
    // @include trailer(.25);
    opacity: .7;
    margin-right: auto;
    margin-left: auto;
    @include transition(opacity .3s);
    width: 60px;
    height: 48px;
  }

  .services-nav-item-title {
    @include adjust-font-size-to(13px , .5);
    @include margin-leader(.125);
  }



  @include at-breakpoint($pad) {


    .services-nav-item {
      max-width: none;
      width: 25%;
    }

    .services-nav-item-icon {
      // @include trailer(.5);
      width: 120px;
      height: 96px;
    }

    .services-nav-item-title {
      @include adjust-font-size-to(14px);
      @include margin-leader(0);
    }

  }


  @include at-breakpoint($desktop) {

    .services-nav-item {
      &.active:before {
        margin-left: -8px;
        border-width: 0 8px 8px 8px;
      }
    }

  }

}
