.post {
	.post-main {
		@include trailer(1);
		@include box-sizing(border-box);
		.post-switch {
			@include pie-clearfix;
			@include trailer(.5);
			padding: 0 3px;
			border-bottom: 1px solid $global-divider;
			.prev {
				float: left;
				@include adjust-font-size-to(14px);
				text-decoration: none;
				&:before {
					content: "«";
					padding-right: 6px;
					font-size: 20px;
					line-height: 1em;
				}
			}
			.next {
				float: right;
				@include adjust-font-size-to(14px);
				text-decoration: none;
				&:after {
					content: "»";
					padding-left: 6px;
					font-size: 20px;
					line-height: 1em;
				}
			}
		}
		.post-content {
			&.preview {
				@include trailer(2);
				@include padding-trailer(1);
				border-bottom: 1px solid $global-divider;
				&:last-child {
					border-bottom: none;
				}
				.readmore {}
			}
			.post-title {
				@include adjust-font-size-to(24px, 1);
				@include trailer(.5);
				a {
					color: $color-green-dark;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.post-info {
        font-family: arial, sans-serif;
        font-style: normal;
        padding: 3px 6px;
        margin-bottom: 6px;
				@include adjust-font-size-to(13px);
        color: #aaa;
				background-color: $color-lighter-gray;
        a {
          @include link-colors(#666);
        }
				.poster, .post-time, .post-category {
					padding-right: 6px;
				}
        .post-tag {
          font-style: italic;
        }
        .post-tag + .post-tag:before {
          content: ',';
          margin: 0 .25em;
          color: $global-muted-color;
        }
			}
      .post-tag {
        font-family: arial, sans-serif;
        font-style: normal;
        font-size: 12px;
        line-height: 1.1;
        color: #aaa;
        padding: 0 2px;
        @include trailer(1);
        a {
          // @include link-colors(#aaa);
        }
      }
			h1 {
				@include adjust-font-size-to(28px);
			}
			h2 {
				@include adjust-font-size-to(24px, 2);
			}
			h3 {
				@include adjust-font-size-to(20px, 2);
			}
			h4 {
				@include adjust-font-size-to(16px, 1);
			}
			img {
				display: block;
				margin: rhythm(1) auto;
			}
			ul {
				padding-left: 24px;
				li {
					padding: 3px 0;
				}
			}
		}
	}

	.post-sidebar {
		@include trailer(1);
		@include box-sizing(border-box);
		.widget {
			@include trailer(2);
			.widget-title {
				@include adjust-font-size-to(18px);
        font-weight: bold;
			}
			.widget-list {
				margin: 6px 0 12px;
				padding-left: 0;
				list-style: none;
				li {
          @include adjust-font-size-to(14px, 3/4);
					padding: 4px 0;
				}
				a {
          color: lighten($global-color, 15%);
        }
        .widget-list-title {
          color: $global-color;
        }
        .widget-list-date {
          color: $global-muted-color;
        }
			}
      .widget-tags {
        margin: 12px 0;
        padding-left: 0;
        list-style: none;
        li {
          @include adjust-font-size-to(14px, 3/4);
          display: inline-block;
          margin-right: .5em;
        }
      }
		}
	}

	@include at-breakpoint($pad) {
    .post-title {
      @include adjust-font-size-to(32px);
    }
	  .post-main {
	  	@include span-columns(4);
	  }
	  .post-sidebar {
	  	@include span-columns(2 omega);
	  }
	}
}
