.wrapper { overflow: visible !important; min-width: 1024px; position: relative; }

.container, .header-inner, .footer-inner, .services-nav-inner, .close-menu-btn-wrapper-inner { max-width: 984px; }

.page { max-width: none; }

.action-bar { width: 70%; margin: 0 auto; }
.action-bar .slogan { text-align: left; }
.action-bar .slogan br { display: none; }
.action-bar .content { margin-top: 12px; float: left; }
.action-bar .action { float: right; }

.wrapper { -webkit-perspective: none; -moz-perspective: none; -ms-perspective: none; -o-perspective: none; perspective: none; }

.off-canvas .outside { position: absolute; right: 0; width: 260px; }
.off-canvas .close-menu-btn { position: absolute; top: 36px; right: 24px; }

.off-canvas.open-menu .page { -webkit-filter: none; -moz-filter: none; filter: none; }

.outside .page-width { position: absolute; }
.outside .main-nav { padding-right: 0; width: 100%; }
.outside .main-nav ul { padding-top: 24px; padding-left: 24px; }

.header { padding: 24px 0; }
.header .logo { float: left; padding: 0; font-size: 28px; line-height: 48px; }
.header .logo a { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/logo.png?1392986900'); background-repeat: no-repeat; background-position: 50% 50%; width: 280px; height: 48px; background-image: none, url('/images/logo.svg?1392986900'); }
.header .main-nav { margin: 0; padding-top: 20px; }
.header .main-nav li { display: inline-block; margin: 0 .5em; float: left; }

.hero { padding: 72px 0 48px; }
.hero .headline { text-align: center; }
.hero .headline h2 { font-size: 40px; line-height: 48px; margin: 0; }
.hero .headline p { font-size: 24px; line-height: 48px; }
.hero .summary { text-align: center; max-width: 30em; font-size: 16px; line-height: 30px; }

.feature-block { padding: 96px 0 72px; }
.feature-block .feature-block-content { width: 66.10169%; }
.feature-block .feature-block-title { font-size: 24px; line-height: 24px; margin-bottom: 12px; }
.feature-block .feature-block-sub-title { font-size: 20px; line-height: 24px; margin-bottom: 12px; }
.feature-block .feature-block-text { margin-bottom: 12px; font-size: 15px; line-height: 24px; }
.feature-block .read-more { font-size: 16px; line-height: 24px; }
.feature-block .feature-block-image { max-width: none; }

.footer .footer-services { max-width: none; }
.footer .footer-service { width: 25%; }
.footer .footer-service + .footer-service { border-left: 1px solid #4e4e4e; }
.footer .footer-service-title { font-size: 14px; line-height: 24px; margin-top: 0px; }
.footer .footer-links-group { margin-bottom: 18px; }
.footer .footer-links { display: inline-block; }
.footer .footer-info li { display: inline-block; margin: 0 0.5em 6px; }

.article ul, .article ol { font-size: 15px; line-height: 24px; }
.article p { font-size: 15px; line-height: 24px; }
.article .lead p { font-size: 18px; line-height: 24px; }
.article .special-list { width: 45%; padding: 0 2.5%; float: left; }

.certified-block .certified-block-content { float: left; width: 40%; margin-right: 5%; }
.certified-block .certified-block-image-block { float: right; width: 55%; }
.certified-block .certified-block-title { font-size: 24px; line-height: 30px; margin-bottom: 24px; }
.certified-block .certified-block-list { font-size: 16px; line-height: 24px; }

.media-report .media-report-list { text-align: left; }
.media-report .media-report-list li { text-align: left; display: inline-block; margin: 32px 1.5% 24px; width: 30%; vertical-align: top; }

.members { text-align: left; margin-bottom: 24px; }
.members .member { max-width: none; display: inline-block; margin: 0px 1.5% 24px; width: 30%; vertical-align: top; }

.message { padding: 96px 0 48px; }

.page-content { padding: 48px 0 0px; }
.page-content p { font-size: 16px; line-height: 24px; }
.page-content .page-content-summary p { font-size: 16px; line-height: 30px; }
.page-content .page-content-title { font-size: 24px; line-height: 24px; }
.page-content .page-content-title-with-line span { padding: 0 1em; }
.page-content .page-content-main { width: 74.57627%; float: right; margin-right: 0; max-width: none; min-height: 1000px; }
.page-content .page-content-sidebar { width: 23.72881%; float: left; margin-right: 1.69492%; }
.page-content .page-content-sidebar-affix.affix-top { position: static; }
.page-content .page-content-sidebar-affix.affix { max-width: 219px; width: 18%; position: fixed; top: 24px; z-index: 12; }
.page-content .page-content-sidebar-affix.affix-bottom { width: 100%; position: absolute; }
.open-menu .page-content .page-content-sidebar-affix.affix-bottom { position: static !important; }

.page-header { padding: 48px 0 48px; }
.page-header .page-header-title { font-size: 24px; line-height: 1em; }
.page-header .page-header-text { font-size: 16px; line-height: 24px; }
.page-header.page-header-narrow .page-header-title { font-size: 20px; line-height: 24px; }

.quick-nav { background-color: transparent; padding-bottom: 48px; }
.quick-nav .quick-nav-title { font-size: 20px; line-height: 24px; margin-bottom: 24px; font-weight: bold; padding: 0; background-color: transparent; }
.quick-nav .quick-nav-title:before { display: none; }
.quick-nav .quick-nav-list { display: block; background-color: transparent; padding: 0; font-size: 13px; line-height: 18px; }
.quick-nav .quick-nav-list > li { margin: 0; padding: 3px 0; }
.quick-nav .quick-nav-list .sub-nav li { margin: 6px 0; }
.quick-nav br { display: block; }

.services-nav .services-nav-item { max-width: none; width: 25%; }
.services-nav .services-nav-item.active:before { margin-left: -8px; border-width: 0 8px 8px 8px; }
.services-nav .services-nav-item-icon { width: 120px; height: 96px; }
.services-nav .services-nav-item-title { font-size: 14px; line-height: 24px; margin-top: 0px; }

.gallery { text-align: left; }
.gallery .gallery-item { max-width: none; display: inline-block; margin: 0px 1.5% 24px; width: 30%; vertical-align: top; }

.services .feature-block-content { width: 49.15254%; float: left; margin-right: 1.69492%; text-align: left; }
.services .feature-block-image { width: 40.67797%; float: left; margin-right: 1.69492%; float: left; }
.services .feature-block-image img { width: 100%; }
.services .pull-right { float: right; margin-right: 0; }
.services .penetration-test-background { background-position: right 48px; background-image: url('/images/services/penetration-test-big.png?1395213186'); }
.services .security-training-background { background-image: url('/images/services/security-training-big.png?1395213239'); background-position: left 48px; }
.services .incident-response-background { background-position: right 48px; background-image: url('/images/services/incident-response-big.png?1395213147'); }
.services .security-consulting-background { background-image: url('/images/services/security-consulting-big.png?1395213217'); background-position: left 48px; }

.security-seal .feature-block { padding-top: 96px; }

.contact-us .action-bar { max-width: 410px; margin: 0 auto; width: 70%; }

.contact-page .grid-1-2-2 { padding-bottom: 24px; }
.contact-page .grid-1-2-2 .col { padding-bottom: 24px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 45.76271%; float: right; margin-right: 0; }
.contact-page .grid-1-2-2 .col:first-child { padding-top: 0px; border-top: none; width: 45.76271%; float: left; margin-right: 1.69492%; }
.contact-page .google-map { margin: 24px 0 0; }

.post .post-info .posted { display: inline !important; }
.post .post-title { font-size: 32px; line-height: 48px; }
.post .post-main { width: 66.10169%; float: left; margin-right: 1.69492%; }
.post .post-sidebar { width: 32.20339%; float: right; margin-right: 0; }
