/*
Syntax error: File to import not found or unreadable: starter/variables.
              Load paths:
                /Users/even/Dropbox/Projects/devcore-officialsite/sass
                /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/blueprint/stylesheets
                /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets
                /Users/even/.compass/extensions/normalize/scss
                /Users/even/.compass/extensions/susy/sass
                /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_extensions/compass-960-plugin-0.10.4/stylesheets
                /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets
                /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_extensions/compass-normalize-1.4.3/stylesheets
                /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_extensions/bootstrap-sass-2.3.2.1/vendor/assets/stylesheets
                /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_extensions/zurb-foundation-4.3.1/scss
                Compass::SpriteImporter
                /vendor/assets/stylesheets
        on line 20 of /Users/even/Dropbox/Projects/devcore-officialsite/sass/starter.scss

Backtrace:
/Users/even/Dropbox/Projects/devcore-officialsite/sass/starter.scss:20
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/import_node.rb:67:in `import'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/import_node.rb:65:in `import'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/import_node.rb:28:in `imported_file'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/import_node.rb:36:in `css_import?'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/engine.rb:262:in `render'
file:/Applications/Fire 1.12.app/Contents/Resources/Java/fire-app.jar!/compass_patch.rb:168:in `compile'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
file:/Applications/Fire 1.12.app/Contents/Resources/Java/fire-app.jar!/compass_patch.rb:167:in `compile'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
file:/Applications/Fire 1.12.app/Contents/Resources/Java/fire-app.jar!/compass_patch.rb:166:in `compile'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1620:in `each'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/compiler.rb:25:in `compile'
org/jruby/RubyKernel.java:2105:in `send'
(__FORWARDABLE__):3:in `compile'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:97:in `sass_modified'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:90:in `sass_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/watch.rb:17:in `run_callback'
file:/Applications/Fire 1.12.app/Contents/Resources/Java/fire-app.jar!/app_watcher.rb:34:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
file:/Applications/Fire 1.12.app/Contents/Resources/Java/fire-app.jar!/app_watcher.rb:29:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
file:/Applications/Fire 1.12.app/Contents/Resources/Java/fire-app.jar!/app_watcher.rb:28:in `listen_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/jruby/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/jruby/listen-0.7.3/lib/listen/listener.rb:221:in `initialize_adapter'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/jruby/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/jruby/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Applications/Fire 1.12.app/Contents/Resources/lib/ruby/jruby/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `start'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: starter/variables.\A               Load paths:\A                 /Users/even/Dropbox/Projects/devcore-officialsite/sass\A                 /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets\A                 /Users/even/.compass/extensions/normalize/scss\A                 /Users/even/.compass/extensions/susy/sass\A                 /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_extensions/compass-960-plugin-0.10.4/stylesheets\A                 /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets\A                 /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_extensions/compass-normalize-1.4.3/stylesheets\A                 /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_extensions/bootstrap-sass-2.3.2.1/vendor/assets/stylesheets\A                 /Applications/Fire 1.12.app/Contents/Resources/lib/ruby/compass_extensions/zurb-foundation-4.3.1/scss\A                 Compass::SpriteImporter\A                 /vendor/assets/stylesheets\A         on line 20 of /Users/even/Dropbox/Projects/devcore-officialsite/sass/starter.scss"; }
